/* header .fixed-top {
    position: fixed;
} */


/* Only for snippet */

.double-nav .breadcrumb-dn {
    color: #fff;
}

.p-3 {
    text-indent: 1.5em;
    color: #fff;
    text-shadow: 2px 2px 4px #000000!important;
}

.busca h1 {
    color: #fff;
}

#logado {
    //  border: 2px solid #fff;
    width: 100px!important;
    height: 60px!important;
    margin: 0;
    padding: 0;
    ;
}

.col-sm-12 {
    padding-left: 23%;
}

.affix {
    top: 20px;
}

header .navbar-nav {
    position: absolute;
    right: 3%;
    float: right;
}

section .busca {
    font-weight: bold;
    text-shadow: #333 0 2px 6px;
    padding: 6% 0 1% 0!important;
}


/* cursor dos links */

.cursor-link {
    cursor: pointer;
}

.cursor-link:hover {
    text-shadow: #000 0 2px 4px;
    color: #666!important;
}


/* Cards propriedades */

.card-title a {
    font-size: 30px;
}

.card-text {
    font-size: 20px!important;
}

.row {
    margin-top: 8%!important;
}

.border {
    border-radius: 20px 20px 0 0!important;
}


/* imagens */

.card-img-top:hover {
    background-color: aquamarine!important;
}


/* imagens fim */

.form-control {
    box-shadow: #090a0a 0px 5px 15px 0px;
}